nav {
  background: #fdfdfd;
  border: 1px solid #e0e0e0;
  -webkit-box-shadow: -6px 6px 0px 0px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: -6px 6px 0px 0px rgba(0, 0, 0, 0.57);
  box-shadow: -6px 6px 0px 0px rgba(0, 0, 0, 0.57);
  border-radius: 25px;
  width: 50%;
  margin: 0 auto;
}
nav ul {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  padding: 0;
}
nav li {
  margin: 0.5rem 0.5rem;
}
nav li:hover {
  color: #CD4F40;
}
header {
  display: none;
  position: fixed;
  width: 100%;
  top: 90%;
}
@media screen and (max-width: 968px) {
  header {
    display: block;
  }
}
